configuration {
  modi: "drun,run,filebrowser,window";
  show-icons: true;
  display-drun: "软件";
  display-run:  "运行";
  display-filebrowser: "文件";
  display-window: "窗口";
  drun-display-format: "{name}";
  window-format:  "{w}{t}";
  font: "FiraCode Nerd Font Bold 12";
  icon-theme: "Papirus";
}
@theme "DarkBlue"